app-modal-fullscreen{
  z-index: 2;
}
#pantalla-container{
  min-height: 400px;
  margin: 40px 0;
}

#copiar{
  margin: 0px;
  padding: 0;
  aspect-ratio: 1;
  width: 20px;
  border: unset;
  cursor: pointer;
  translate: (0 5px);
}

@media( height < "830px"){
  #pantalla-container{
    height: 80vh;
  }
}