@use "./../assets/colors.scss";

$border-radius-base: 20px;
$padding-consola: 20px;

#container{
  background-color: colors.$accent-1;
  max-width: 500px;
  box-sizing: border-box;
  max-height: 100vh;
  overflow: hidden;
  border-radius: calc($border-radius-base + $padding-consola);
  padding: $padding-consola;
}

#pantalla{
  border: 1rem solid colors.$primary;
  border-radius: $border-radius-base;
  background-color: colors.$background;
  position: relative;
  overflow: hidden;
}

@media( height < "830px"){
  app-botonera{
    display: none;
  }
}

@media (width <= "600px"){
  #container{
    max-width: 100%;
  }
}