@use "./../../../assets/colors.scss";

h1{
  position: relative;
  font-size: 4rem;
  span{
    position: absolute;
    font-size: 1rem;
    bottom: -30px;
    right: 15px;
  }
} 


#nombre{
  margin-top: auto;
  font-size: 1.2rem;
  span{
    font-size: 1.5rem;
    font-weight: bold;
  }
}

#opciones{
  margin: auto;
  gap: 10px;
  *{
    font-size: 1rem;
  }
}

#pantalla-container{
  justify-content: space-between;
  height: 500px;
  align-items: center;
  margin: 40px 0;
}

$ancho-borde-animado: 350px;
$alto-borde-animado: 100px;

.borde-animado {
  height:$alto-borde-animado;
  width: $ancho-borde-animado;
  line-height: $alto-borde-animado;
  background: 
    linear-gradient(90deg, colors.$primary 50%, transparent 50%),
    linear-gradient(90deg, colors.$primary 50%, transparent 50%),
    linear-gradient(0deg, colors.$primary 50%, transparent 50%),
    linear-gradient(0deg, colors.$primary 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, $ancho-borde-animado$alto-borde-animado, 0px$alto-borde-animado, $ancho-borde-animado 0px;
  padding: 10px;
  animation: borde-animado 1s infinite steps(2,jump-both);
}
@keyframes borde-animado {
  0% {
    background-position: 0px 0px, 300px calc($alto-borde-animado + 16px), 0px 150px, calc($ancho-borde-animado + 16px) 0px;
  }
  100% {
    background-position: 300px 0px, 0px calc($alto-borde-animado + 16px), 0px 0px, calc($ancho-borde-animado + 16px) 150px;
  }
}