<div id="pantalla-container" class="flex-column">
  <!-- Título -->
  <h1 class="italic borde-animado">TA-TE-TI <span>ONLINE</span></h1>

  @if(usuario.nombre()){
    <p id="nombre">Hola <span>{{usuario.nombre()}}!</span></p>
  }
  <!-- Botones inferiores -->
  <div class="flex-column" id="opciones">
    <!-- <a [routerLink]="['/jugar']" class="boton">Jugar online (sala pública)</a> -->
    <button (click)="buscarSalaPublica()" class="boton">Jugar online</button>
    <a [routerLink]="['/jugar-privada']" class="boton">Crear sala privada</a>
    <a [routerLink]="['/cambiar-nombre']" class="boton">Cambiar nombre</a>
  </div>
  <!-- <form (ngSubmit)="irASala(salaInput.value)">
    <label for="sala">Nº de sala</label>
    <input type="number" #salaInput>
    <button>Entrar a sala</button>
  </form> -->

</div>